*:focus {
  outline: none;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/**
wordpress fantom space removal
*/
p:empty {
  display: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.media-checker {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1920;
}
.image-preloader {
  position: absolute;
  top: -1000px;
  left: -5000px;
  display: block;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
input,
textarea {
  outline: none;
}
a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
.image-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.image-wrapper:after {
  padding-top: 50%;
  display: block;
  content: '';
}
.image-wrapper .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: deepskyblue;
  color: white;
}
.image-wrapper .image-content img {
  width: 100%;
  height: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-checker {
    z-index: 1200;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-checker {
    z-index: 992;
  }
}
/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .media-checker {
    z-index: 1024;
  }
}
/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .media-checker {
    z-index: 768;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-checker {
    z-index: 767;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-checker {
    z-index: 480;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .media-checker {
    z-index: 479;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-checker {
    z-index: 320;
  }
}
html,
body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #626262;
}
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #ededed;
  background-color: white;
}
.mobile-navigation:after {
  content: '';
  display: table;
  clear: both;
}
.mobile-navigation .logo-container {
  display: block;
  float: left;
  width: auto;
  max-width: 199px;
  height: 23px;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .logo-container a {
  display: block;
  overflow: hidden;
  height: 23px;
}
.mobile-navigation .logo-container a img {
  width: auto;
  height: 100%;
}
.mobile-navigation .navigation-trigger {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .navigation-trigger a {
  display: inline-block;
  vertical-align: middle;
}
.mobile-navigation .navigation-trigger a:link,
.mobile-navigation .navigation-trigger a:visited {
  color: black;
}
.mobile-navigation .navigation-trigger a:hover,
.mobile-navigation .navigation-trigger a:active,
.mobile-navigation .navigation-trigger a:focus {
  color: #404040;
}
.mobile-navigation .navigation-trigger a:last-child {
  margin-left: 20px;
}
.mobile-navigation .navigation-trigger a:last-child i {
  font-size: 35px;
  line-height: 30px;
}
.mobile-navigation .navigation-trigger i {
  margin-right: 20px;
  font-size: 25px;
  line-height: 55px;
}
.mobile-links-list-container {
  position: fixed;
  z-index: 1000;
  top: 55px;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: white;
}
.mobile-links-list-container ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}
.mobile-links-list-container ul li {
  display: block;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  background-image: none;
}
.mobile-links-list-container ul li a {
  display: block;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.mobile-links-list-container ul li a:link,
.mobile-links-list-container ul li a:visited {
  color: black;
}
.mobile-links-list-container ul li a:hover,
.mobile-links-list-container ul li a:focus,
.mobile-links-list-container ul li a:active {
  color: black;
  background-color: #ebebeb;
}
.pusher {
  height: 55px;
}
.logo-container {
  height: 165px;
}
.logo-container a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-menu-container {
  height: 165px;
}
.main-menu-container ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.main-menu-container ul li {
  display: inline-block;
}
.main-menu-container ul li a {
  text-transform: uppercase;
  padding: 0 60px;
}
.main-menu-container ul li a:link,
.main-menu-container ul li a:visited {
  color: #626262;
}
.main-menu-container ul li a:hover,
.main-menu-container ul li a:focus,
.main-menu-container ul li a:active {
  color: #161616;
}
.main-menu-container ul li:first-child a {
  padding-left: 0;
}
.main-menu-container ul li:last-child a {
  padding-right: 0;
}
.hero .hero-container {
  overflow: hidden;
  margin-bottom: 95px;
  padding-top: 44.736%;
}
.hero .hero-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.article-container {
  margin: 0 80px;
}
.article-container .article-image {
  margin: 130px 0 30px;
  overflow: hidden;
  padding-top: 66.67%;
}
.article-container .article-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.article-container .article-link {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.article-container .article-link:link,
.article-container .article-link:visited {
  color: #b4ad9e;
}
.article-container .article-link:hover,
.article-container .article-link:focus,
.article-container .article-link:active {
  color: #857b67;
}
.article-container h2 {
  margin: 20px 0 30px;
}
.article-container .article-content {
  margin-bottom: 35px;
  line-height: 171.42857143%;
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo-container {
    height: 100px;
  }
  .main-menu-container {
    height: 100px;
  }
  .main-menu-container ul li a {
    padding: 0 25px;
  }
  .hero .hero-container {
    margin-bottom: 50px;
  }
}
/*Ipad Landscape */
/*Ipad Portrait*/
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
