*:focus {
  outline: none;
}
* {
  margin: 0;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
/**
wordpress fantom space removal
*/
p:empty {
  display: none;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}
.bootstrap-select .btn:focus {
  outline: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.media-checker {
  position: absolute;
  top: -10000px;
  left: -10000px;
  z-index: 1920;
}
.image-preloader {
  position: absolute;
  top: -1000px;
  left: -5000px;
  display: block;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
input,
textarea {
  outline: none;
}
a {
  outline: none;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  outline: none;
}
.image-wrapper {
  width: 200px;
  display: inline-block;
  font-size: 0;
  position: relative;
  vertical-align: top;
  overflow: hidden;
}
.image-wrapper:after {
  padding-top: 50%;
  display: block;
  content: '';
}
.image-wrapper .image-content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: deepskyblue;
  color: white;
}
.image-wrapper .image-content img {
  width: 100%;
  height: auto;
}
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .media-checker {
    z-index: 1200;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .media-checker {
    z-index: 992;
  }
}
/*Ipad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .media-checker {
    z-index: 1024;
  }
}
/*Ipad Portrait*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .media-checker {
    z-index: 768;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .media-checker {
    z-index: 767;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .media-checker {
    z-index: 480;
  }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 479px) {
  .media-checker {
    z-index: 479;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .media-checker {
    z-index: 320;
  }
}
html,
body {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #626262;
}
.mobile-navigation {
  position: fixed;
  z-index: 1010;
  top: 0;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid #ededed;
  background-color: white;
}
.mobile-navigation:after {
  content: '';
  display: table;
  clear: both;
}
.mobile-navigation .logo-container {
  display: block;
  float: left;
  width: auto;
  max-width: 199px;
  height: 23px;
  margin-top: 0;
  margin-left: 20px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .logo-container a {
  display: block;
  overflow: hidden;
  height: 23px;
}
.mobile-navigation .logo-container a img {
  width: auto;
  height: 100%;
}
.mobile-navigation .navigation-trigger {
  display: block;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.mobile-navigation .navigation-trigger a {
  display: inline-block;
  vertical-align: middle;
}
.mobile-navigation .navigation-trigger a:link,
.mobile-navigation .navigation-trigger a:visited {
  color: black;
}
.mobile-navigation .navigation-trigger a:hover,
.mobile-navigation .navigation-trigger a:active,
.mobile-navigation .navigation-trigger a:focus {
  color: #404040;
}
.mobile-navigation .navigation-trigger a:last-child {
  margin-left: 20px;
}
.mobile-navigation .navigation-trigger a:last-child i {
  font-size: 35px;
  line-height: 30px;
}
.mobile-navigation .navigation-trigger i {
  margin-right: 20px;
  font-size: 25px;
  line-height: 55px;
}
.mobile-links-list-container {
  position: fixed;
  z-index: 1000;
  top: 55px;
  display: none;
  overflow: hidden;
  width: 100%;
  background-color: white;
}
.mobile-links-list-container ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #ededed;
}
.mobile-links-list-container ul li {
  display: block;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ededed;
  background-image: none;
}
.mobile-links-list-container ul li a {
  display: block;
  padding: 10px 0 10px 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.mobile-links-list-container ul li a:link,
.mobile-links-list-container ul li a:visited {
  color: black;
}
.mobile-links-list-container ul li a:hover,
.mobile-links-list-container ul li a:focus,
.mobile-links-list-container ul li a:active {
  color: black;
  background-color: #ebebeb;
}
.pusher {
  height: 55px;
}
.logo-container {
  height: 165px;
}
.logo-container a {
  display: block;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
h2 {
  font-size: 20px;
}
.main-menu-container {
  height: 165px;
}
.main-menu-container ul {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: right;
}
.main-menu-container ul li {
  display: inline-block;
}
.main-menu-container ul li a {
  text-transform: uppercase;
  padding: 0 60px;
}
.main-menu-container ul li a:link,
.main-menu-container ul li a:visited {
  color: #626262;
}
.main-menu-container ul li a:hover,
.main-menu-container ul li a:focus,
.main-menu-container ul li a:active {
  color: #161616;
}
.main-menu-container ul li:first-child a {
  padding-left: 0;
}
.main-menu-container ul li:last-child a {
  padding-right: 0;
}
.hero .hero-wrapper {
  position: relative;
}
.hero .hero-container {
  overflow: hidden;
  margin-bottom: 95px;
  padding-top: 44.736%;
}
.hero .hero-container img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.article-container .article-image {
  margin: 130px 0 30px;
  overflow: hidden;
  padding-top: 66.67%;
  position: relative;
}
.article-container .article-image:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
  position: absolute;
  top: 0;
  right: 0;
}
.article-container .article-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.article-container .article-image i {
  color: white;
  position: absolute;
  top: 7px;
  right: 6px;
  display: block;
  font-size: 18px;
}
.article-container .article-image.single-post {
  margin-top: 60px;
  padding-top: 75%;
}
.article-container .article-link {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.article-container .article-link:link,
.article-container .article-link:visited {
  color: #b4ad9e;
}
.article-container .article-link:hover,
.article-container .article-link:focus,
.article-container .article-link:active {
  color: #857b67;
}
.article-container h2 {
  margin: 20px 0 30px;
}
.article-container h2.title.half {
  display: block;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  text-transform: none;
}
.article-container .article-content {
  margin-bottom: 35px;
}
.article-container .article-content p {
  line-height: 171.42857143%;
  margin-bottom: 25px;
}
.article-container .article-content p.tuka-stavila-italic {
  font-style: italic;
  padding: 0 30px;
}
.article-share-links-container {
  margin: 60px 0 0;
}
.article-share-links-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}
.article-share-links-container ul li {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #b4ad9e;
}
.article-share-links-container ul li a {
  display: block;
  margin-left: 12px;
  font-size: 17px;
}
.article-share-links-container ul li a:link,
.article-share-links-container ul li a:visited {
  color: #b4ad9e;
}
.article-share-links-container ul li a:hover,
.article-share-links-container ul li a:focus,
.article-share-links-container ul li a:active {
  color: #857b67;
}
.article-container.full {
  margin: 0 80px;
}
.article-container.half {
  border-bottom: 1px solid #cccccc;
}
.article-container.half.left {
  margin: 0 0 0 80px;
}
.article-container.half.right {
  margin: 0 80px 0 0;
}
.title {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  margin: 30px 0;
}
a.title:link,
a.title:visited {
  color: #b4ad9e;
}
a.title:hover,
a.title:focus,
a.title:active {
  color: #857b67;
}
.gray-container {
  background-color: #f0f0f0;
  margin: 126px 0 30px;
  padding: 50px 0 75px;
}
.gray-container .signup-form-container {
  text-align: center;
}
.gray-container .signup-form-container .signup-form-inner {
  display: inline-block;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.gray-container .signup-form-container .signup-form-inner h2 {
  margin-bottom: 85px;
  color: #333333;
  letter-spacing: 0.025em;
}
.gray-container .signup-form-container .signup-form-inner input {
  background-color: transparent;
  border: 0;
}
.gray-container .signup-form-container .signup-form-inner input[type='submit'] {
  font-family: FontAwesome;
  font-size: 20px;
}
.gray-container .signup-form-container .signup-form-inner input[type='email'] {
  width: calc(100% - 37px);
}
.gray-container .recommendations-container .recommendations-line {
  font-size: 0;
  margin: 0 -2%;
}
.gray-container .recommendations-container .recommendations-line a.recommendation {
  width: 33.3%;
  display: inline-block;
  padding: 0 2%;
}
.gray-container .recommendations-container .recommendations-line a.recommendation .recommendation-image {
  padding-top: 66%;
}
.gray-container .recommendations-container .recommendations-line a.recommendation h2 {
  font-size: 20px;
}
.gray-container .recommendations-container .recommendations-line a.recommendation:link,
.gray-container .recommendations-container .recommendations-line a.recommendation:visited {
  color: #626262;
}
.gray-container .recommendations-container .recommendations-line a.recommendation:hover,
.gray-container .recommendations-container .recommendations-line a.recommendation:focus,
.gray-container .recommendations-container .recommendations-line a.recommendation:active {
  color: #2f2f2f;
}
.load-more-button-container {
  text-align: center;
  padding: 100px 0;
}
.load-more-button-container a {
  border: 1px solid #626262;
  padding: 20px 30px;
  display: inline-block;
  font-size: 20px;
}
.load-more-button-container a:link,
.load-more-button-container a:visited {
  color: #626262;
}
.load-more-button-container a:hover,
.load-more-button-container a:focus,
.load-more-button-container a:active {
  color: #2f2f2f;
  background-color: #f2f2f2;
}
.load-more-button-container a:after {
  content: '\f04b';
  font-family: FontAwesome;
  display: inline-block;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
}
.load-more-button-container a.opened:after {
  content: '\f04b';
  font-family: FontAwesome;
  display: inline-block;
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}
.toggle-row {
  max-height: 0;
  -webkit-transition: max-height 1s 1s;
  -moz-transition: max-height 1s 1s;
  -ms-transition: max-height 1s 1s;
  -o-transition: max-height 1s 1s;
  transition: max-height 1s 1s;
  overflow: hidden;
}
.toggle-row .article-container .article-image {
  margin-top: 0;
}
.toggle-row.opened {
  max-height: 700px;
}
.comments-wrapper .comment-avatar-image {
  display: inline-block;
  vertical-align: top;
  /**
 ** how to use same-widt-height
 **   if unit given in px
 **   .same-width-height(65);
 **        will produce:
 **           width:65px;
 **           height:65px;
 **   other units need to be explicitly provided as an:
 **   .same-width-height(65,vw)
 **       will produce:
 **         width:65vw;
 **         height:65vw
 **/
  width: 70px;
  height: 70px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  background-color: #cae5e0;
  color: white;
  text-align: center;
  text-transform: uppercase;
  line-height: 70px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 34px;
}
.comments-wrapper .comment-avatar-image img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}
.comments-wrapper .comment-inner {
  margin-bottom: 60px;
}
.comments-wrapper .comment-inner .comment-avatar-image {
  background-color: #cae5e0;
}
.comments-wrapper .comment-inner .comment-content {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 100px);
  padding-left: 40px;
}
.comments-wrapper .comment-inner .comment-content h5 {
  font-weight: 700;
  margin: 0 0 15px;
}
.comments-wrapper .comment-inner .comment-content .comment-inner-content .reply-link {
  margin-top: 20px;
}
.comments-wrapper .comment-form .comment-avatar-image {
  background-color: #ededea;
}
.comments-wrapper .comment-form .comment-form-inner {
  display: inline-block;
  width: calc(100% - 75px);
  padding: 0 0 0 40px;
}
.comments-wrapper .comment-form .comment-form-inner:after {
  display: table;
  content: '';
  clear: both;
}
.comments-wrapper .comment-form .comment-form-inner textarea {
  width: 100%;
  text-transform: uppercase;
  padding: 24px 0 4px 35px;
  border: 1px solid #c8c8c8;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  color: #c8c8c8;
}
.comments-wrapper .comment-form .comment-form-inner textarea::-webkit-input-placeholder {
  color: #c8c8c8;
}
.comments-wrapper .comment-form .comment-form-inner textarea::-moz-placeholder {
  color: #c8c8c8;
}
.comments-wrapper .comment-form .comment-form-inner textarea:-ms-input-placeholder {
  color: #c8c8c8;
}
.comments-wrapper .comment-form .comment-form-inner textarea:-moz-placeholder {
  color: #c8c8c8;
}
.comments-wrapper .comment-form .comment-form-inner input[type='submit'] {
  margin-top: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  float: right;
}
.owl-theme .owl-nav {
  position: absolute;
  z-index: 99;
  margin-top: -25%;
  width: 100%;
}
.owl-theme .owl-nav .owl-prev {
  position: absolute;
  left: 10px;
  background-color: blue;
}
.owl-theme .owl-nav .owl-next {
  position: absolute;
  right: 10px;
  background-color: red;
}
.owl-theme .owl-dots {
  background-color: black;
}
.owl-theme .owl-dots .owl-dot span {
  background-color: green;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: deepskyblue;
}
.video-container {
  margin-top: 60px;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.v-spacer {
  height: 90px;
}
.v-main-navigation {
  width: 100%;
  margin-bottom: 20px;
  position: fixed;
  background-color: #cecece;
  overflow: hidden;
  padding: 15px 0;
  z-index: 10;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.22);
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.v-main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.v-main-navigation ul li {
  display: inline-block;
}
.v-main-navigation ul li a {
  padding: 10px 15px;
  margin: 0 3px;
  display: block;
  text-transform: uppercase;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.v-main-navigation ul li a:link,
.v-main-navigation ul li a:visited {
  background-color: #ededed;
  color: #333;
}
.v-main-navigation ul li a:hover,
.v-main-navigation ul li a:focus,
.v-main-navigation ul li a:active {
  background-color: #bababa;
}
.v-main-navigation.shrinked {
  box-shadow: 4px 7px 20px 0px rgba(0, 0, 0, 0.22);
  padding: 5px 0;
  background-color: #aaaaaa;
}
.v-content-block {
  margin-bottom: 30px;
  background-color: #ededed;
  text-align: center;
  height: 800px;
  overflow: hidden;
  border: 1px solid #bbbbbb;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.v-content-block h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}
.accordion-wrapper,
.finale-content-wrapper {
  margin-top: 50px;
  min-height: calc(100vh - 265px);
}
.accordion-wrapper .accordion-item,
.finale-content-wrapper .accordion-item {
  margin-bottom: 10px;
}
.accordion-wrapper .accordion-item a.accordion-trigger,
.finale-content-wrapper .accordion-item a.accordion-trigger {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  display: block;
  position: relative;
  padding: 10px 20px;
  text-shadow: 1px 0px 0px #000000;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  background: #7db9e8;
  background: -moz-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  background: -webkit-linear-gradient(top, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  background: linear-gradient(to bottom, #7db9e8 0%, #207cca 49%, #2989d8 50%, #1e5799 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db9e8', endColorstr='#1e5799', GradientType=0);
}
.accordion-wrapper .accordion-item a.accordion-trigger:after,
.finale-content-wrapper .accordion-item a.accordion-trigger:after {
  content: '\f04b';
  font-family: FontAwesome;
  color: white;
  transform: rotate(90deg);
  -webkit-transition: transform 1s;
  -moz-transition: transform 1s;
  -ms-transition: transform 1s;
  -o-transition: transform 1s;
  transition: transform 1s;
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 10px;
}
.accordion-wrapper .accordion-item a.accordion-trigger:link,
.finale-content-wrapper .accordion-item a.accordion-trigger:link,
.accordion-wrapper .accordion-item a.accordion-trigger:visited,
.finale-content-wrapper .accordion-item a.accordion-trigger:visited {
  color: #fff;
}
.accordion-wrapper .accordion-item a.accordion-trigger:hover,
.finale-content-wrapper .accordion-item a.accordion-trigger:hover,
.accordion-wrapper .accordion-item a.accordion-trigger:focus,
.finale-content-wrapper .accordion-item a.accordion-trigger:focus,
.accordion-wrapper .accordion-item a.accordion-trigger:active,
.finale-content-wrapper .accordion-item a.accordion-trigger:active {
  color: #cccccc;
}
.accordion-wrapper .accordion-item a.accordion-trigger.opened:after,
.finale-content-wrapper .accordion-item a.accordion-trigger.opened:after {
  transform: rotate(270deg);
}
.accordion-wrapper .accordion-item .accordion-content,
.finale-content-wrapper .accordion-item .accordion-content {
  background-color: #f2f2f2;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1.5s;
  -moz-transition: max-height 1.5s;
  -ms-transition: max-height 1.5s;
  -o-transition: max-height 1.5s;
  transition: max-height 1.5s;
}
.accordion-wrapper .accordion-item .accordion-content .accordion-content-inner,
.finale-content-wrapper .accordion-item .accordion-content .accordion-content-inner {
  margin: 20px;
}
.accordion-wrapper .accordion-item .accordion-content.active,
.finale-content-wrapper .accordion-item .accordion-content.active {
  max-height: 200px;
}
.spacer-80 {
  height: 80px;
}
.footer-wrapper {
  background-color: #f0f0f0;
}
.footer-wrapper .footer-inner {
  height: 100px;
}
.footer-wrapper .footer-inner ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.footer-wrapper .footer-inner ul li {
  display: inline-block;
}
.footer-wrapper .footer-inner ul li a {
  display: block;
}
.footer-wrapper .footer-inner ul li a:link,
.footer-wrapper .footer-inner ul li a:visited {
  color: black;
}
.footer-wrapper .footer-inner ul li a:hover,
.footer-wrapper .footer-inner ul li a:focus,
.footer-wrapper .footer-inner ul li a:active {
  color: #333333;
}
.footer-wrapper .footer-inner.terms ul li a {
  margin-right: 20px;
}
.footer-wrapper .footer-inner.social ul {
  text-align: right;
}
.footer-wrapper .footer-inner.social ul li a {
  margin-left: 18px;
  font-size: 15px;
}
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .logo-container {
    height: 100px;
  }
  .main-menu-container {
    height: 100px;
  }
  .main-menu-container ul li a {
    padding: 0 25px;
  }
  .hero .hero-container {
    margin-bottom: 0;
  }
  .article-container.full,
  .article-container.half.right,
  .article-container.half.left {
    margin: 0;
  }
}
/*Ipad Landscape */
/*Ipad Portrait*/
/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
  .article-container .article-image {
    margin: 30px 0 30px;
  }
  .article-container.full {
    padding: 0;
  }
  .article-container.half.left,
  .article-container.half.right {
    margin: 0 0 0 0;
  }
  .footer-wrapper {
    padding: 20px 0;
  }
  .footer-wrapper .footer-inner.social,
  .footer-wrapper .footer-inner.terms {
    height: 40px;
  }
  .footer-wrapper .footer-inner.social ul,
  .footer-wrapper .footer-inner.terms ul {
    text-align: center;
  }
}
/* Extra Small Devices, Phones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
